body{
    background-color: #EAE5E5;
}
.mainbody{
    height: 100%;
    width: 65%;
    margin: 0 auto;
}
.header a{
    font-size: 50px;
    text-decoration: none;
}
.first{
    display: flex;
    float: left;
}
.identity{
    width: 50%;
    height: 50%;
}
.identity a{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    color: white;
    border: none;
    
}
.identity h1{
    font-size: 70px;
}
.identity h5{
    font-family: 'Courier New', Courier, monospace;
}
.identity img{
    width: 300px;
    height: 300px;
    float: right;
    padding-right: 20px;
    margin-top: 90px;
}
#intro{
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 500px;
    width: auto;

}
#resume{
    background-color: #E83556;
}
#work{
    background-color: #61D0D4;
}
#skill{
    background-color: #D1C926;
}
footer{
    width: 100%;
    background-color: #E83556;
    display: flex;
    float: left;
    border-radius: 10px 10px 0px 0px;
}
.socialmedia{
    padding: 50px;
    width: 33.33%;
}
#logo{
    text-decoration: none;
    padding-left: 5px;
}